<section class="action fade-block">
    <div class="container">
        <div class="top-part flex">
            <div class="left-part top-anim">
                <div class="caption">
                    <h3 class="font-36r">@@title</h3>
                </div>
                <div class="description">
                    <p class="font-18r">@@descr</p>
                </div>
            </div>
            <div class="right-part top-anim del-300">
                <div class="timer-wr">
                    <div class="timer-txt">
                        <p class="font-16r">@@timer-head</p>
                    </div>
                    <div id="timer" class="timer" data-lang="@@lang">

                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-part">
            <div class="item-wr flex">
                <div class="item flex to-left">
                    <div class="pic">
                        <img src="@@rel-pathimg/pics/iphone.png" alt="">
                    </div>
                    <div class="txt">
                        <p class="font-27m">Iphone X</p>
                    </div>
                </div>
                <div class="item flex to-left del-300">
                    <div class="pic">
                        <img src="@@rel-pathimg/pics/macbook.png" alt="">
                    </div>
                    <div class="txt">
                        <p class="font-27m">MacBook <br>Air 2020</p>
                    </div>
                </div>
                <div class="item flex to-left del-600">
                    <div class="pic">
                        <img src="@@rel-pathimg/pics/ipad.png" alt="">
                    </div>
                    <div class="txt">
                        <p class="font-27m">iPad Pro 11</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>