<section class="action">
    <div class="container">
        <div class="top-part flex">
            <div class="left-part">
                <div class="caption">
                    <h3 class="font-36r">Первые пользователи карты<br> участвуют в акции!</h3>
                </div>
                <div class="description">
                    <p class="font-18r">Закажите карту Crocobit до 1 мая 2020 и получите<br> гарантированные призы от EDC Blockchain</p>
                </div>
            </div>
            <div class="right-part">
                <div class="timer-wr">
                    <div class="timer-txt">
                        <p class="font-16r">Until the end is left: </p>
                    </div>
                    <div id="timer" class="timer">

                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-part">
            <div class="item-wr flex">
                <div class="item flex">
                    <div class="pic">
                        <img src="img/pics/iphone.png" alt="">
                    </div>
                    <div class="txt">
                        <p class="font-27m">Iphone X</p>
                    </div>
                </div>
                <div class="item flex">
                    <div class="pic">
                        <img src="img/pics/macbook.png" alt="">
                    </div>
                    <div class="txt">
                        <p class="font-27m">MacBook <br>Air 2020</p>
                    </div>
                </div>
                <div class="item flex">
                    <div class="pic">
                        <img src="img/pics/ipad.png" alt="">
                    </div>
                    <div class="txt">
                        <p class="font-27m">iPad Pro 11</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>