<section class="best center-txt">
    <div class="container">
        <div class="title">
            <h2 class="font-36r">Crocobit — все лучшее из мира высоких <br>технологий на одной карте!</h2>
        </div>
    
    <div class="content-wr flex">

    
    <div class="left-part">
        <img src="img/pics/phone2.png" alt="">
    </div>
    <div class="right-part">
        <div class="description">
            <p class="font-20r">С картой Crocobit все безграничные возможности нового цифрового мира помещаются в вашем кошельке! </p>
        </div>
        <div class="clarification">
            <p class="font-20r">Успейте заказать карту до 1 мая 2020 и получите стильные подарки от EDC Blockchain</p>
        </div>
        <div class="button-wr">
            <a target="_blank" onclick="FDPopup.open(127552,{'hideCloseBtn':false,'host':'formdesigner.ru','overlay':{'background':'#000000','opacity':0.1}}); return false;" href="http://formdesigner.ru/form/view/127552" class="button fill blue">
            <span class="font-16r">Оформить карту</span>
            </a>
        </div>
    </div>
</div>
</div>
</section>