<section class="best center-txt fade-block">
    <div class="container">
        <div class="title top-anim">
            <h2 class="font-36r">@@title</h2>
        </div>
    
    <div class="content-wr flex">

    
    <div class="left-part">
        <img class="to-right del-200" src="@@rel-pathimg/pics/phone2.png" alt="">
    </div>
    <div class="right-part">
        <div class="description top-anim del-400">
            <p class="font-20r">@@txt1 </p>
        </div>
        <div class="clarification top-anim del-600">
            <p class="font-20r">@@txt2</p>
        </div>
        <div class="button-wr top-anim del-800">
            <a target="_blank" onclick="FDPopup.open(formId,{'hideCloseBtn':false,'host':'formdesigner.ru','overlay':{'background':'#000000','opacity':0.1}}); return false;" href="http://formdesigner.ru/form/view/@@form-id" class="button fill blue">
            <span class="font-16r">@@button</span>
            </a>
        </div>
    </div>
</div>
</div>
</section>