<section class="bonus center-txt">
    <div class="container container-small2">
        <div class="text-wr fade-block">
            <div class="title top-anim">
            <h2 class="font-36r">@@title</h2>
        </div>
        <div class="description top-anim">
            <p class="font-18r">@@descr</p>
        </div>
        </div>
        
        <div class="top-part flex fade-block">
            <div class="img-part to-left del-200">
                <img src="@@rel-pathimg/pics/phone.png" alt="">
            </div>
            <div class="item-wr">
                <div class="item to-left del-400">
                    <div class="pic">
                        <img src="@@rel-pathimg/pics/use-icon1.svg" alt="">
                    </div>
                    <div class="text-wr">
                        <p class="font-14r">@@item1</p>
                    </div>
                </div>
                <div class="item to-left del-600">
                    <div class="pic">
                        <img src="@@rel-pathimg/pics/use-icon2.svg" alt="">
                    </div>
                    <div class="text-wr">
                        <p class="font-14r">@@item2</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-part flex fade-block">
            
            <div class="item-wr">
                <div class="item to-right del-400">
                    
                    <div class="text-wr">
                        <p class="font-14r">@@item3</p>
                    </div>
                    <div class="pic">
                        <img src="@@rel-pathimg/pics/use-icon3.svg" alt="">
                    </div>
                </div>
                <div class="item to-right del-600">
                    
                    <div class="text-wr">
                        <p class="font-14r">@@item4</p>
                    </div>
                    <div class="pic">
                        <img src="@@rel-pathimg/pics/use-icon4.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="img-part to-right del-200">
                <img src="@@rel-pathimg/pics/card2.png" alt="">
            </div>
        </div>
    </div>
</section>