<section class="bonus center-txt">
    <div class="container container-small2">
        <div class="title">
            <h2 class="font-36r">Используйте ваши бонусы для покупок!</h2>
        </div>
        <div class="description">
            <p class="font-18r">С картой Crocobit пользоваться всеми преимуществами <br>EDC Blockchain стало еще проще!</p>
        </div>
        <div class="top-part flex">
            <div class="img-part">
                <img src="img/pics/phone.png" alt="">
            </div>
            <div class="item-wr">
                <div class="item">
                    <div class="pic">
                        <img src="img/pics/use-icon1.svg" alt="">
                    </div>
                    <div class="text-wr">
                        <p class="font-14r">Отправляйте монеты EDC в лизинг и получайте бонусы прямо на карту Crocobit</p>
                    </div>
                </div>
                <div class="item">
                    <div class="pic">
                        <img src="img/pics/use-icon2.svg" alt="">
                    </div>
                    <div class="text-wr">
                        <p class="font-14r">Развивайте собственную партнерскую команду при помощи инновационных инструментов EDC Blockchain, повышайте торговые обороты, масштабируйте свой бизнес и расширяйте целевую аудиторию.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-part flex">
            
            <div class="item-wr">
                <div class="item">
                    
                    <div class="text-wr">
                        <p class="font-14r">Получайте бонусы и совершайте покупки без лишних посредников в любой точке мира с картой Crocobit!</p>
                    </div>
                    <div class="pic">
                        <img src="img/pics/use-icon3.svg" alt="">
                    </div>
                </div>
                <div class="item">
                    
                    <div class="text-wr">
                        <p class="font-14r">Always wanted to check how much of your money comes on unbridled joy? It’s simple now. Use the monobank card, and you’ll</p>
                    </div>
                    <div class="pic">
                        <img src="img/pics/use-icon4.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="img-part">
                <img src="img/pics/card2.png" alt="">
            </div>
        </div>
    </div>
</section>