<section class="card-issuance center-txt fade-block">
    <div class="container">
        <div class="title top-anim">
            <h2 class="font-36r">@@title</h2>
        </div>
        <div class="description top-anim">
            <p class="font-20r">@@descr</p>
        </div>
    
    <div class="steps flex">
        <div class="item to-left del-200">
            <div class="pic">
                <img src="@@rel-pathimg/pics/take-icon1.svg" alt="">
            </div>
            <div class="txt">
                <p class="font-16r">@@item1</p>
            </div>
            <div class="step-number">
                <span class="font-60b">1</span>
            </div>
        </div>
        <div class="item to-left del-400">
            <div class="pic">
                <img src="@@rel-pathimg/pics/take-icon2.svg" alt="">
            </div>
            <div class="txt">
                <p class="font-16r">@@item2</p>
            </div>
            <div class="step-number">
                <span class="font-60b">2</span>
            </div>
        </div>
        <div class="item to-left del-600">
            <div class="pic">
                <img src="@@rel-pathimg/pics/take-icon3.svg" alt="">
            </div>
            <div class="txt">
                <p class="font-16r">@@item3</p>
            </div>
            <div class="step-number">
                <span class="font-60b">3</span>
            </div>
        </div>
        <div class="item to-left del-800">
            <div class="pic">
                <img src="@@rel-pathimg/pics/take-icon4.svg" alt="">
            </div>
            <div class="txt">
                <p class="font-16r">@@item4</p>
            </div>
            <div class="step-number">
                <span class="font-60b">4</span>
            </div>
        </div>
        
    </div>
    <div class="button-wr top-anim del-1000">
        <a target="_blank" onclick="FDPopup.open(formId,{'hideCloseBtn':false,'host':'formdesigner.ru','overlay':{'background':'#000000','opacity':0.1}}); return false;" href="http://formdesigner.ru/form/view/@@form-id" class="button fill blue">
        <span class="font-16r">@@button</span>
        </a>
    </div>
</div>
</section>