<section class="card-issuance center-txt">
    <div class="container">
        <div class="title">
            <h2 class="font-36r">Получить карту Crocobit легко!</h2>
        </div>
        <div class="description">
            <p class="font-20r">Заказ и оформление карты займет всего несколько минут</p>
        </div>
    
    <div class="steps flex">
        <div class="item">
            <div class="pic">
                <img src="img/pics/take-icon1.svg" alt="">
            </div>
            <div class="txt">
                <p class="font-16r">Заполните анкету</p>
            </div>
            <div class="step-number">
                <span class="font-60b">1</span>
            </div>
        </div>
        <div class="item">
            <div class="pic">
                <img src="img/pics/take-icon2.svg" alt="">
            </div>
            <div class="txt">
                <p class="font-16r">Выберите удобный способ доставки (DHL или заказное письмо)</p>
            </div>
            <div class="step-number">
                <span class="font-60b">2</span>
            </div>
        </div>
        <div class="item">
            <div class="pic">
                <img src="img/pics/take-icon3.svg" alt="">
            </div>
            <div class="txt">
                <p class="font-16r">Оплатите стоимость карты и доставку (оплата в BTC или ETH)</p>
            </div>
            <div class="step-number">
                <span class="font-60b">3</span>
            </div>
        </div>
        <div class="item">
            <div class="pic">
                <img src="img/pics/take-icon4.svg" alt="">
            </div>
            <div class="txt">
                <p class="font-16r">Получите карту и погрузитесь в использование цифровых активов в реальной жизни!</p>
            </div>
            <div class="step-number">
                <span class="font-60b">4</span>
            </div>
        </div>
        
    </div>
    <div class="button-wr">
        <a target="_blank" onclick="FDPopup.open(127552,{'hideCloseBtn':false,'host':'formdesigner.ru','overlay':{'background':'#000000','opacity':0.1}}); return false;" href="http://formdesigner.ru/form/view/127552" class="button fill blue">
        <span class="font-16r">Оформить карту</span>
        </a>
    </div>
</div>
</section>