<section class="conditions center-txt fade-block">
    <div class="container container-small">
        <div class="title top-anim">
            <h2 class="font-36r">@@title</h2>
        </div>
        <div class="item-wr top-anim del-200">
            <div class="item flex">
                <span class="param font-20r">@@item1</span>
                <span class="value font-24b">@@item1-value</span>
            </div>
            <div class="item flex">
                <span class="param font-20r">@@item2</span>
                <span class="value font-24b">@@item2-value</span>
            </div>
            <div class="item flex">
                <span class="param font-20r">@@item3</span>
                <span class="value font-24b">@@item3-value</span>
            </div>
            <div class="item flex">
                <span class="param font-20r">@@item4</span>
                <span class="value font-24b">@@item4-value</span>
            </div>
        </div>
        <div class="link-wr top-anim del-400">
            <a href="https://cards.crocobit.net/KYC_CrocoBit.pdf" target="_blank" class="font-20r">@@link</a>
        </div>
        <div class="button-wr top-anim del-600">
            <a target="_blank" onclick="FDPopup.open(formId,{'hideCloseBtn':false,'host':'formdesigner.ru','overlay':{'background':'#000000','opacity':0.1}}); return false;" href="http://formdesigner.ru/form/view/@@form-id" class="button fill blue">
            <span class="font-16r">@@button</span>
            </a>
        </div>
    </div>
</section>