<section class="conditions center-txt">
    <div class="container container-small">
        <div class="title">
            <h2 class="font-36r">Самые привлекательные условия — <br>только с картой Crocobit!</h2>
        </div>
        <div class="item-wr">
            <div class="item flex">
                <span class="param font-20r">Срок действия карты</span>
                <span class="value font-24b">1 год</span>
            </div>
            <div class="item flex">
                <span class="param font-20r">Пополнение карты</span>
                <span class="value font-24b">бесплатно</span>
            </div>
            <div class="item flex">
                <span class="param font-20r">Обслуживание карты</span>
                <span class="value font-24b">бесплатно</span>
            </div>
            <div class="item flex">
                <span class="param font-20r">Комиссия при оплате в магазинах</span>
                <span class="value font-24b">0%</span>
            </div>
        </div>
        <div class="link-wr">
            <a href="#" class="font-20r">Card activation instructions</a>
        </div>
        <div class="button-wr">
            <a target="_blank" onclick="FDPopup.open(127552,{'hideCloseBtn':false,'host':'formdesigner.ru','overlay':{'background':'#000000','opacity':0.1}}); return false;" href="http://formdesigner.ru/form/view/127552" class="button fill blue">
            <span class="font-16r">заказать карту</span>
            </a>
        </div>
    </div>
</section>