<section class="first-screen">
    <div class="container flex">
        <div class="left-part">
            <div class="caption">
                <h2 class="font-36b">Дебетовая карта Сrocobit —<br> ваши активы всегда с вами!
                </h2>
            </div>
            <div class="description">
                <p class="font-18r">Выводите BTC, ETH, USTD и EDC в любом банкомате мира<br> без посредников</p>
            </div>
            <div class="button-wr">
                <a target="_blank" onclick="FDPopup.open(127552,{'hideCloseBtn':false,'host':'formdesigner.ru','overlay':{'background':'#000000','opacity':0.1}}); return false;" href="http://formdesigner.ru/form/view/127552" class="button fill blue">
                <span class="font-16r">Заказать карту</span>
                </a>
            </div>
            
        </div>
        <div class="right-part">
            <img src="img/pics/card.png" alt="">
        </div>
    </div>
</section>