<section class="first-screen">
    <div class="container flex">
        <div class="left-part">
            <div class="caption">
                <h2 class="font-36b">@@title</h2>
            </div>
            <div class="description">
                <p class="font-18r">@@descr</p>
            </div>
            <div class="button-wr">
                <a target="_blank" onclick="FDPopup.open(formId,{'hideCloseBtn':false,'host':'formdesigner.ru','overlay':{'background':'#000000','opacity':0.1}}); return false;" href="http://formdesigner.ru/form/view/@@form-id" class="button fill blue">
                <span class="font-16r">@@button</span>
                </a>
            </div>
            
        </div>
        <div class="right-part">
            <img src="@@rel-pathimg/pics/card.png" alt="">
        </div>
    </div>
</section>