<header class="@@class">
    <div class="container flex">

    
    <div class="logo">
        <a href="/" class="no-style logo-trigger">
            <img src="img/pics/logo.svg" alt="">
        </a>
    </div>
    <a target="_blank" onclick="FDPopup.open(127552,{'hideCloseBtn':false,'host':'formdesigner.ru','overlay':{'background':'#000000','opacity':0.1}}); return false;" href="http://formdesigner.ru/form/view/127552" class="order-button button gold empty">
        <span class="font-16r">заказать карту</span>
</a>
    <div class="link-item dropdown-group">
        <button class="drop-trigger grey-lnk-style no-style lang-trigger">
            <img src="img/pics/lang-icon-eng.svg" alt="">
            <svg xmlns="http://www.w3.org/2000/svg" width="9.899" height="5.657" viewBox="0 0 9.899 5.657">
                <g transform="translate(-971.55 -28.793)">
                    <rect width="1" height="7" rx="0.5" transform="translate(971.55 29.5) rotate(-45)" />
                    <rect class="a" width="1" height="7" rx="0.5"
                        transform="translate(980.743 28.793) rotate(45)" />
                </g>
            </svg>
        </button>
        <div class="hover-container">
            <div class="drop-container">
                <ul class="drop-list list-default">
                    <li class="drop-item">
                        <a href="#" class="font-13r">
                            <img src="img/pics/lang-icon-eng.svg" alt="">
                            <span>Eng</span>
                        </a>
                    </li>
                    <li class="drop-item">
                        <a href="#" class="font-13r">
                            <img src="img/pics/lang-icon-eng.svg" alt="">
                            <span>Eng</span>
                        </a>
                    </li>
                    <li class="drop-item">
                        <a href="#" class="font-13r">
                            <img src="img/pics/lang-icon-eng.svg" alt="">
                            <span>Eng</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</header>