<div class="modal subscr-modal" id="subscribe-modal">

    <div class="modal-inner">
        <div class="modal-overlay close-trigger"></div>
        <div class="modal-content">
            <div class="close-trigger close-trigger-btn">
                <div></div>
            </div>
            <div class="subscr-title">
                <p class="font-24m">@@subscribeTitle</p>
            </div>
            <form action="#" class="subscribe-form">
                <div class="input-item">
                    <div class="input-wr">
                        <input type="text" placeholder="@@name-inp" class="reqiered-field" name="name">
                    </div>
                    <span class="valid-error"></span>
                </div>
                <div class="input-item">
                    <div class="input-wr">
                        <input type="text" placeholder="@@phone-inp" class="reqiered-field" name="phone">
                    </div>
                    <span class="valid-error"></span>
                </div>
                <div class="input-group">
                    <div class="input-item">
                    <div class="input-wr">
                        <input type="text" placeholder="@@country" class="reqiered-field" name="country">
                    </div>
                    <span class="valid-error"></span>
                </div>
                <div class="input-item">
                    <div class="input-wr">
                        <input type="text" placeholder="@@post-code" class="reqiered-field" name="postCode">
                    </div>
                    <span class="valid-error"></span>
                </div>
                </div>
                
                <div class="input-item">
                    <div class="input-wr">
                        <input type="text" placeholder="@@region" class="reqiered-field" name="region">
                    </div>
                    <span class="valid-error"></span>
                </div>
                <div class="input-item">
                    <div class="input-wr">
                        <input type="text" placeholder="@@city" class="reqiered-field" name="city">
                    </div>
                    <span class="valid-error"></span>
                </div>
                <div class="input-item">
                    <div class="input-wr">
                        <input type="text" placeholder="@@address" class="reqiered-field" name="address">
                    </div>
                    <span class="valid-error"></span>
                </div>
                <div class="radio-wr">
                    <div class="rtitle">
                        <p>@@method</p>
                    </div>
                    <div class="radio-group">
                        <div class="input-wr">
                            <label>
                                <img src="img/pics/dhl.png" alt="">
                                <input class="hidden-content" type="radio" name="method" checked>
                                <span>
                                    <img src="img/pics/selected.svg" alt="">
                                </span>
                            </label>
                        </div>
                        <div class="input-wr">
                            <label>
                                <img src="img/pics/dhl.png" alt="">
                                <input class="hidden-content" type="radio" name="method" >
                                <span>
                                    <img src="img/pics/selected.svg" alt="">
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="button-wr">
                    <button class="button fill blue" type="submit"><span class="font-16r">@@subscr-btn</span></button>
                </div>
            </form>
            <div class="link-wr">
                <a href="#">@@instructions</a>
            </div>
        </div>
    </div>
</div>


<div class="modal thk-modal" id="thk-modal">

    <div class="modal-inner">
        <div class="modal-overlay close-trigger"></div>
        <div class="modal-content">
            <div class="close-trigger close-trigger-btn">
                <div></div>
            </div>
            <div class="title">
                <p>Thank You</p>
            </div>
            <div class="description">
                <p class="font-20r">Voluptate sint qui qui ut reprehenderit labore exercitation exercitation proident laborum occaecat sit veniam eiusmod.</p>
            </div>
            <div class="button-wr close-trigger">
                <button class="button fill blue"><span class="font-16r">OK</span></button>
            </div>
        </div>
    </div>
</div>



<div class="modal err-modal" id="err-modal">

    <div class="modal-inner">
        <div class="modal-overlay close-trigger"></div>
        <div class="modal-content">
            <div class="close-trigger close-trigger-btn">
                <div></div>
            </div>
            <div class="title">
                <p>Server Error</p>
            </div>
            <div class="description">
                <p class="font-20r">Please resend form</p>
            </div>
            <div class="button-wr close-trigger">
                <button class="button fill blue"><span class="font-16r">OK</span></button>
            </div>
        </div>
    </div>
</div>