<section class="use-block center-txt fade-block">
    <div class="container container-small">
        <div class="title top-anim">
            <h2 class="font-36r">@@title</h2>
        </div>
        <div class="description top-anim">
            <p class="font-18r">@@descr</p>
        </div>
        
            <div class="use-item-wr">
                <div class="use-item to-left del-200">
                    <div class="pic">
                        <img src="@@rel-pathimg/pics/icon1.svg" alt="">
                    </div>
                    <div class="text-wr">
                        <p class="font-14r">@@item1</p>
                    </div>
                </div>
                <div class="use-item to-left del-400">
                    <div class="pic">
                        <img src="@@rel-pathimg/pics/icon2.svg" alt="">
                    </div>
                    <div class="text-wr">
                        <p class="font-14r">@@item2</p>
                    </div>
                </div>
                <div class="use-item to-left del-600">
                    <div class="pic">
                        <img src="@@rel-pathimg/pics/icon3.svg" alt="">
                    </div>
                    <div class="text-wr">
                        <p class="font-14r">@@item3</p>
                    </div>
                </div>
                <div class="use-item to-left del-800">
                    <div class="pic">
                        <img src="@@rel-pathimg/pics/icon4.svg" alt="">
                    </div>
                    <div class="text-wr">
                        <p class="font-14r">@@item4</p>
                    </div>
                </div>
            </div>
            <div class="button-wr top-anim del-1000">
                <a target="_blank" onclick="FDPopup.open(formId,{'hideCloseBtn':false,'host':'formdesigner.ru','overlay':{'background':'#000000','opacity':0.1}}); return false;" href="http://formdesigner.ru/form/view/@@form-id" class="button fill blue">
                <span class="font-16r">@@button</span>
                </a>
            </div>
            
        </div>
    </div>
</section>