<section class="use-block center-txt">
    <div class="container container-small">
        <div class="title">
            <h2 class="font-36r">Используйте карту Crocobit везде!</h2>
        </div>
        <div class="description">
            <p class="font-18r">Новый стандарт удобства и простоты использования <br>криптовалют с картой Crocobit </p>
        </div>
        
            <div class="use-item-wr">
                <div class="use-item">
                    <div class="pic">
                        <img src="img/pics/icon1.svg" alt="">
                    </div>
                    <div class="text-wr">
                        <p class="font-14r">Удобные расчеты картой в магазинах</p>
                    </div>
                </div>
                <div class="use-item">
                    <div class="pic">
                        <img src="img/pics/icon2.svg" alt="">
                    </div>
                    <div class="text-wr">
                        <p class="font-14r">Безопасная оплата с <br>Apple Pay</p>
                    </div>
                </div>
                <div class="use-item">
                    <div class="pic">
                        <img src="img/pics/icon3.svg" alt="">
                    </div>
                    <div class="text-wr">
                        <p class="font-14r">Доступ к вашим цифровым активам 24/7</p>
                    </div>
                </div>
                <div class="use-item">
                    <div class="pic">
                        <img src="img/pics/icon4.svg" alt="">
                    </div>
                    <div class="text-wr">
                        <p class="font-14r">Вывод фиатных средств в любом банкомате по всему миру</p>
                    </div>
                </div>
            </div>
            <div class="button-wr">
                <a target="_blank" onclick="FDPopup.open(127552,{'hideCloseBtn':false,'host':'formdesigner.ru','overlay':{'background':'#000000','opacity':0.1}}); return false;" href="http://formdesigner.ru/form/view/127552" class="button fill blue">
                <span class="font-16r">Заказать карту</span>
                </a>
            </div>
            
        </div>
    </div>
</section>